@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #F8FAFC;
}

.title {
    text-align: center;
    margin-bottom: 8vh;
   
}

h1 {
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
    margin-top:4vh;
    margin-bottom: 4vh;
}
.content {
    margin-left: 50vh;
}

li {
    margin: 2vh;
}

.content-p {
    margin-bottom: 4vh;
}

a {
    color: #4E80EE;
    text-decoration: none;
}

a:visited {
    color: #4E80EE;
}

hr {
    margin: auto;
    width: 45%;
    color: #D2D5DA;
}